/*** styling for the template with the photograph of a present at the background with cards instead of table***/

body {
    margin: 0;
    padding: 0px;
    background-image: url('../img/presentWall.jpeg');
    font-family: 'Montserrat' ;

    --main-gray-color:#343A40;
    --main-navy-blue: #17a2b8;
}

h2 {
    color: white;
    text-align: center;
    margin: 50px auto;
    font-family: 'Martel';
}

/* navbar */

div.ribbon {
    background-color:#BEE5EB;
}

/* cards */

div.card {
    padding: 0px;
    box-shadow: 2px 2px 5px black;
    margin-bottom: 20px;
}

div.card-header {
    background-color: rgba(23, 162, 184, .4);
    border-bottom: solid 1px var(--main-navy-blue);
}

/* delete button */

a.delete-item {
    float: right;
    cursor: pointer;
    color: var(--main-navy-blue);
    opacity: .5;
}

a.delete-item i {
    border-radius: 50%;
}

a.delete-item:hover {
    opacity: 1;
    color: red;
}

a.delete-item i:hover {
    box-shadow: 0 0 5px red;
}

/* form */

.form-wrapper {
    display: flex;
    justify-content: center;
}

div.form-group {
    overflow: hidden;
    border-radius: 20px;
    box-sizing: border-box;
    width: 400px;

    display: flex;
    flex-direction: row;
}

div.label {
    width: 30%;
    background-color: var(--main-gray-color);
    color: white;

    display: flex;
    justify-content: center;
    align-items: center;
}

input.form-control {
    width: 70%;
    border-radius: 0;
}

ul.errors {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.btn-wrapper {
    text-align: center;
}

.btn {
    border: solid white 2px;
    font-weight: 700;
    font-size: larger;
    padding: 10px 30px;
    margin: 50px auto;
    border-radius: 30px;
}

div.info {
    box-shadow: 0 0 10px 5px var(--main-navy-blue);
}

.btn:hover {
    background-color: rgba(23, 162, 184, .4);
    color: var(--main-navy-blue);
    border: solid 2px var(--main-navy-blue);
}

/* RWD */

@media (max-width:410px) {
    div.table-wrapper {
        display: flex;
        justify-content: center;
    }
    
    table {
        max-width: 300px;
    }

    div.form-group {
        width: 300px;
    }

    .link {
        display: none;
    }
}
