{% extends 'base.html' %}

{% block title %}
<title>About</title>
{% endblock %}
{% block content %}
    <div class="container outer-container">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="info-container">
                <div class="info-inner">
                    <span class="info">i</span>
                    <p class="info">"Prezent" to mój pierwszy projekt komercyjny: znajomy poprosił o przygotowanie szablonów do flaska z formularzem dodawania prezentów oraz tabelą wyświetlającą prezenty z bazy danych.</p>
                    <p class="info">Przygotowałem cztery propozycje, w tym jedną z kartami zamiast tabeli (według mnie są ładniejsze). Potem uznałem, że dorobię backend i voila. Aplikacja bardzo prosta, bez rejestracji użytkowników, ale z bazą danych.</p>
                    <a class="info git" href="https://github.com/krzemGit/flaskTemplates"><i class="fab fa-github fa-2x"></i></a>
                </div>
                <p class="info-outer">Informacje o Projekcie</p>
            </div>
            <div class="contact-container">
                <div class="contact-inner">
                    <span class="contact">c</span>
                    <h3 class="contact">lechkrzeminski<br>@gmail.com</h3>
                    <a class="contact git" href="https://github.com/krzemGit/flaskTemplates"><i class="fab fa-github fa-3x"></i></a>
                    <a href="https://www.linkedin.com/in/lech-krzemi%C5%84ski-6a91a155/" class="contact linkedin"><i class="fab fa-linkedin fa-3x"></i></a>
                </div>
                <p class="contact-outer">Kontakt</p>
            </div>
        </div>
    </div>
{% endblock %}
